@import '../../../styles/screens';

.inputModal {
  @include md {
    width: 320px;
    border: 1px solid #f0f0f0;
  }

  .row {
    text-align: center;
    margin: 4px 0;
  }

  input {
    width: 48px;
    font-size: 24px;
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    border: none;
    margin: 0 4px;

    &::after {
      content: ":";
      display: inline;
      font-size: 12px;
    }
  }

  button {
    font-size: 12px;
    padding: 12px 24px;
  }
}
