@import '../../styles/screens';
@import '../../styles/theme';

.button {
  font-size: 24px;
  color: $white;
  background: $button;
  outline: none;
  padding: 22px 44px;
  border: none;
  transition: .2s;

  &.active,
  &:hover {
    background: $button-active;
  }

  @include md {
    font-size: 12px;
    padding: 12px 36px;
  }
}
