@import '../../styles/screens';
@import '../../styles/theme';

.stopwatch {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.timer {
  text-align: center;
  margin: 20px 0;

  .display {
    font-size: 96px;
    cursor: pointer;
    transition: .15s;
    color: inherit;
    background: transparent;
    border: none;

    &.highlight {
      color: $highlight;
    }

    @include md {
      font-size: 48px;
    }
  }
}

.controlButton {
  font-size: 24px;
}
