@import "../../styles/theme";

.modal {
  // Position:
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // Center child:
  display: flex;
  justify-content: center;
  align-items: center;
  // background:
  backdrop-filter: blur(4px) grayscale(66%);
  transition: backdrop-filter .4s;

  > .body {
    z-index: 1;
    position: relative;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 24px 18px;
    border: 1px solid #7986CB;

    > .exitButton {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 22px;

      &:hover {
        color: $button;
      }
    }
  }
}
