@import "../../../styles/theme";

.navItem {
  font-size: 24px;
  transition: color .1s;
  display: block;
  margin: 0 0 12px 0;

  i {
    margin: 0 8px 0 0;
  }

  &:hover {
    color: $highlight;
    background: rgba(255, 255, 255, 0.2);
  }
}
